* {
    padding: 0;
    margin: 0;
}

#aboutBody {
    background: url('/static/images/DSC00857.JPG') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 0;
}

nav {
    padding: 10px;
    min-height: 2rem;
    max-height: 2.75rem;
    /* height: 50px; */
}


.bodycontain {
    position: fixed;
}

.articles {
    margin-top: -40%;
    animation: transitionDown 2s ease;
    overflow: auto;
}

.dave-sum {
    font-family: 'Open Sans','Playfair Display', 'serif';
    font-size: 1rem;
    vertical-align: middle;
}

.card-content {
    background-color: rgba(252, 243, 214, 0.6);
    padding: 1.5rem;
}

.card {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: 100%;
    margin-bottom: 25px;
}

figure.image {
    width: 336px;
    margin-right: 10px;
}

#secondcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
}

#secondcard .media-content {
    grid-area: 1 / 2 / 2 / 3;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes transitionDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}