body {
    font-family: 'Roboto Slab', serif;
}

.navbar {
    border-bottom: 2px solid #d3893c;
}

.navbar, .navbar-item{
    background-color: #fcf3d6;
    color: #cf7e2d;
}

a.navbar-item:hover {
    background-color: white;
    color: #cf7e2d;
}

.navbar-start .navbar-item > *{
    background-color: #fcf3d6;
    color: #cf7e2d;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: #fcf3d6;
    color: #cf7e2d;
}
