body {
    font-family: 'Roboto', serif, sans-serif;
    /* font-size: 50px; */
}

.navbar, .navbar-item{
    background-color: #fcf3d6;
    color: #cf7e2d;
}

.navbar-start .navbar-item > *{
    background-color: #fcf3d6;
    color: #cf7e2d;
}