* {
    margin: 0;
    padding: 0;
}

html.has-navbar-fixed-top {
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

.navbar {
    /* border-bottom: 2px solid #d3893c; */
    max-height: 3.5rem;
    padding: 5px;
}

.navbar, .navbar-item{
    background-color: #fcf3d6;
    color: #cf7e2d;
    font-size: 1.25rem;
}

/* MORE color */
.navbar-start .navbar-item > *{
    color: #cf7e2d;
}

.navbar-item:not(:last-child) {
    border-right: 2px solid #cf7e2d;
}

.navbar-link {
    font-size: 1.25rem;
}

.navbar a:not(.navbar-burger) {
    display: inline-block;
    position: relative;
    color: #cf7e2d;
    background-color: transparent;
}

.navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent;
}

.navbar-dropdown {
    background-color: #fcf3d6;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: #cf7e2d;
}

.navbar a:not(.navbar-burger):after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #cf7e2d;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

.navbar a:not(.navbar-burger):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.navbar-burger {
    color: #cf7e2d ;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 0% 0%;
        text-shadow: none;
    }
    100% {
        transform: translateY(-10px);
    }
}