* {
    margin: 0;
    padding: 0;
}

.columns {
    margin-bottom: 10px;
    /* padding: 5px; */
    /* background-color: lighter; */
}

#column1 {
    margin-top: 5%;
}

#column1 .column {
    outline: solid black 1px;
}

#column1 .card-header {
    background: lightgray;
    font-size: 1.5em;
}

#column1 .content {
    text-align: center;
}

#column1 .card {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fcf3d6;
}

#column1 .card-content {
    padding: 15px 20px 15px 20px;
}

#column1 .toptitle {
    margin-top: 10px;
    margin-bottom: 5%;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Open Sans', 'serif';
    color: #d3893c;
}

#column1 p.title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#column1 p.subtitle {
    font-size: .9rem;
}

#column1 .media-content .subtitle {
    margin-bottom: 15px;
}

#column1 .author .subtitle {
    margin-top: 25px;
}

a.booklink {
    font-size: 1.25rem;
}

#amazon {
    color: #d3893c;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Playfair Display';
}