* {
    margin: 0;
    padding: 0;
}

#homeHtml {
    background: url('/static/images/DSC03204.JPG') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 0;
}

#main-content {
    padding: 0px;
    height: 90vh;
}

.container.is-fluid {
    position: absolute;
    min-height: 800px;
}

#mainnav {
    background-color: transparent;
    min-height: 5rem;
    border: none;
}

figure {
    animation: transitionIn 1.5s;
}


.navbar-start {
    flex-grow: 1;
    justify-content: center;
    background-color: transparent;
}

#bigcolumns {
    margin-top: 2%;
}

.navbar, .navbar-item{
    /* HOME - ABOUT THE AUTHOR - Resources*/
    color: #cf7e2d;
}

.navbar-item.fancy {
    font-size: 1.75rem;
    background-color: transparent;
}

/* MORE dropdown*/
#elLink {
    font-size: 1.75rem;
    background-color: transparent;
}

#test {
    background-color: transparent;
}

#bdesc {
    background-color: transparent;
    opacity: .7;
    animation: transitionUp 1.5s;
    padding: 0;
    margin-left: 1%;
}

#bdesc .subtitle {
    font-family: 'Open Sans', 'serif';
    font-size: 1.5rem;
    margin-bottom: 1%;
    color: white;
    margin-left: 5%;
}

#bdesc .subtitle strong {
    font-family: 'Playfair Display', 'serif';
    color: white;
}

#fname, #lname {
    font-size: 5rem;
    margin-top: 1%;
    opacity: 0;
    display: inline-block;
}

#fname {
    transition: all 5s ease;
    transform: translateY(-500px);
    margin-right: 1%;
}

#lname {
    transition: all 5s ease;
    transform: translateY(500px);
    margin-left: 1%;
}

#fname.fade, #lname.fade {
    opacity: 1; 
    transform: translateY(0px);
    color: lightgray; 
}

p.bd-notification {
    font-family: 'Open Sans';
    font-size: 1.1rem;
    padding: 10px;
    line-height: 125%;
}

#rightbox {
    margin-top: 1%;
}

#desc {
    margin-left: 2%;
    margin-right: 2%;
}

.author {
    font-family: 'Playfair Display';
}

p.source {
    font-family: 'Open Sans', 'serif';
}

#reviewCol {
    position: relative;
}

#reviewCol .card {
    position: absolute;
}

.card {
    border-radius: 1rem;
    height: auto;
    margin-top: 5%;
}

.card-content {
    padding: 0;
}

#butt-cols {
    margin-top: 2%;
}

.button.is-large a{
    outline-color: transparent;
    color: #cf732d;
}

.button.is-large {
    animation: fillOut .5s ease-in-out;
    color: #cf732d;
}

.button.is-large:hover{
    color: #cf7e2d;
    width: 100%;
    border: 1px solid #91640F;
    animation: fill .5s ease-in-out;
} 

.button.is-large:active {
    outline: 1px solid #cf732d;
    color: #cf732d;
}

#mailList {
    margin-top: 5px;
    background-color: transparent;
}

.accordion {
    background-color: transparent;
    color: #d3893c;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.mail-button {
    width: 100%;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: transparent;
    color: #cf732d;
    font-size: 1.5rem;
    outline-color: transparent;
    display: block;
    margin: 0;
    padding: 0.2em;
    cursor: pointer;
}

form {
    display: none;
}

.input {
    background-color: lightgray;
    outline-color: black;
    border-color: transparent;
    border-bottom-left-radius: 10px;

}

.input:focus, .input:active, .input:hover {
    border-color: #cf732d;
}

.input::placeholder {
    color: black;
    opacity: .5;
}

.control .button {
    background-color: black;
    color: #cf732d;
    border-color: transparent;
    border-bottom-right-radius: 10px;
}

.control .button:focus, .control .button:hover, .control .button:active {
    border-color: #cf732d;
    color: #cf732d;
}

section.hero {
    background-color: lightgray;
    opacity: .7;
    margin-top: 5%;

}

#footer-col {
    margin-top: 40%;
}

.footer{
    background-color: transparent;
    padding: 10px;
    text-align: left;
    margin-top: 5%;

}



@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fill {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fillOut {
    0% {
        width: 100%;
    }
    100% {
        width: 20%;
    }
}
