* {
    margin: 0;
    padding: 0;
}

.columns {
    margin-bottom: 10px;
    /* padding: 5px; */
}

.column {
    outline: dotted red 2px;
}

.card-header {
    background: lightgray;
    font-size: 1.5em;
}

.content {
    text-align: center;
}

.card {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fcf3d6;
}

.card-content {
    padding: 15px 20px 15px 20px;
}

.toptitle {
    margin-top: 10px;
    margin-bottom: 5%;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: underline;
}

p.title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

p.subtitle {
    font-size: .9rem;
}

.media-content .subtitle {
    margin-bottom: 15px;
}

.author .subtitle {
    margin-top: 25px;
}