* {
    margin: 0;
    padding: 0;
}

.columns {
    margin-bottom: 10px;
    /* padding: 5px; */
}

.column {
    outline: solid black 1px;
}

.card-header {
    background: lightgray;
    font-size: 1.5em;
}

.content {
    text-align: center;
}

.card {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fcf3d6;
}

.card-content {
    padding: 15px 20px 15px 20px;
}

.toptitle {
    margin-top: 10px;
    margin-bottom: 5%;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: underline;
}

p.title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

p.subtitle {
    font-size: .9rem;
}

.media-content .subtitle {
    margin-bottom: 15px;
}

.author .subtitle {
    margin-top: 25px;
}

#collapsible {
    background-color: white;
    color: #d3893c;
    width: 100%;
    cursor: pointer;
}

.button {
    border-color: #d3893c;
}
/* .dropdown {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-right: 5%;
    border-color: #d3893c;
    cursor: pointer;
}

.icon{
    float: right;
}

.fa, .fas {
    margin-right: 5%;
}

.collapsible {
    margin-left: 5%;
}

a.collapsible {
    display: block;
    color: #cc853a;
    cursor: pointer;
    width: 100%;

}

.button.is-hovered, .button:hover {
    border-color: #d3893c ;
}

.dropdown-content {
    display: none;
} */