{% extends '_base.html' %}
{% load static %}
{% block title %}About Dave{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endcomment %}

{% endblock css %}

{% block content %}
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                {% comment %} <figure class="image">
                    <img style="width:100%;" src="{% static 'images/DSC00857.JPG' %}" alt="">
                </figure> {% endcomment %}
            </div>
        </div>
    </section>


    <div class="container is-fullhd">
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">About David Foucar</p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque perferendis alias, consequatur atque inventore adipisci labore, nihil magni, obcaecati eveniet nesciunt deserunt corporis quae iure quisquam magnam unde ex.</p>
                            <p>Nam necessitatibus facilis natus soluta eum voluptate quaerat numquam fugiat magnam aut optio ad eaque atque modi repellat, hic autem reiciendis eius quam dignissimos. Eum qui quibusdam ducimus dignissimos ea!</p>
                            <p>Doloremque corporis neque odio nemo illo voluptas sit esse? Recusandae nulla tempora, maxime voluptatum architecto possimus accusamus illum dignissimos blanditiis voluptatem sint atque in repellat nisi ad, quasi, asperiores optio?</p>
                            <p>Expedita fugit, et hic ab deserunt quaerat similique magni repudiandae modi impedit laudantium. Quaerat, distinctio eaque enim ex quos praesentium doloremque laboriosam similique placeat rerum ullam in quod necessitatibus nobis!</p>
                        </div>
                    </div>
                </div>
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <figure class="image">
                                    <img src="{% static 'images/IMG_1874.jpg' %}" alt="placeholder">
                                </figure>
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Dave's Awesome Life</p>
                                <br>
                                <p class="has-text-centered">
                                Dave loves spending time with family but especially with his granddaughter Charlotte.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}

