{% extends '_base.html' %}
{% load static %}
{% block title %}About Dave{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endcomment %}

{% endblock css %}

{% block content %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="bodycontain has-text-centered is-fluid">
                {% comment %} <figure class="image">
                    <img src="{% static 'images/DSC00857.JPG' %}" alt="">
                </figure> {% endcomment %}
            </div>
        </div>
    </section>


    <div class="container">
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <div class="card article">
                    <div class="card-content">
                        <p class="title article-title has-text-centered">About Dave Foucar</p>
                        <div class="content article-body">
                            <p class="dave-sum has-text-centered">
                                Dave has had a successful career in corporate finance but his heart
                                has always been in ministry. He has spent decades in church leadership 
                                teaching Sunday School, Bible Studies, and Small Groups for all ages. 
                                He has been a lead speaker and seminar leader at Couple's Retreats, Men's Retreats, 
                                and Family and Youth Camps.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card article">
                    <div class="card-content">
                        <div id="secondcard" class="media">
                            <div class="media-center">
                                <figure class="image">
                                    <img src="{% static 'images/dave_portrait.jpg' %}" alt="placeholder">
                                </figure>
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="dave-sum has-text-centered">
                                    Dave has been married for 35 years (as of 2021).
                                    He and his wife, Debbie, have three adult daughters but ONE favorite
                                    son-in-law, Cameron. Each of them bring endless joy as they expand their
                                    families and careers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<script src="{% static 'js/about.js' %}"></script>
{% endblock content %}

