{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/booksMentionedStyles.css' %}">
{% endblock css %}

{% block content %}
<div class="columns is-centered">
    <div id="column1" class="column is-6">
        <p class="toptitle">Resources Mentioned in the Book</p>
    {% for book in book_list %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" alt="">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title">{{book.title}}</p>
                        {% if book.subtitle %}
                            <p class="subtitle">{{book.subtitle}}</p>
                        {% endif %}
                        <p class="author subtitle">{{book.author}}</p>
                    </div>
                </div>
                <div class="content">
                    {% if book.id == 6 %}
                        <p><a class="booklink" href="{{book.link}}">Link to Short Story</a></p>
                    {% else %}
                        <p><a class="booklink" href="{{book.link}}">See on Amazon</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}