<!-- templates/home.html-->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block header %}
    <nav id="mainnav" class="navbar is-expanded is-spaced is-fixed-top" role="navigation" aria-label="main-navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="target">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="target" class="navbar-menu is-hoverable is-active">
            <div class="navbar-start ml-4">
                <a id="0" class="navbar-item fancy is-4" href="{% url 'home' %}">
                    Home
                </a>
                <a id="1" class="navbar-item fancy" href="#">
                    Buy the Book
                </a>
                <a id="2" class="navbar-item fancy" href="{% url 'about' %}">
                    About the Author
                </a>
                <div id="test" class="navbar-item has-dropdown is-hoverable">
                    <a id="elLink" class="navbar-link fancy is-arrowless">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'resources' %}">
                            Additional Resources
                        </a>
                        <a class="navbar-item">
                            Leave Review
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Contact Dave
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

{% endblock header %}

{% block content %}
        <section id="content" class="hero">
            <div class="hero-body">
                <div class="container has-text-centered is-fluid">
                    <p id="fancy" class="title">Dave Foucar</p>
                    <div class="columns">
                        <div id="bgtrans" class="column is-3">
                            <figure class="image">
                                <img class="left" src="{% static 'images/cover.png' %}" alt="">
                            </figure>
                        </div>
                        <div id="bdesc" class="column is-7 is-offset-1">
                            <p class="subtitle">
                                As Christians, we want to share our faith. We want to tell others about Jesus. 
                                <strong><em>But what do you say when people ask about Jesus?</em></strong>
                            </p>

                            <!-- LOOPED REVIEW PORTION-->
                            <div class="columns">
                                <div id="desc" class="column">
                                    <div class="card">
                                        <div class="card-content">
                                            <p class="bd-notification">
                                                <strong>"What Do I Say When Asked About Jesus?"</strong> is a conversational approach to answering the “what do I say?” 
                                                question that so many people ask. Will we respond to our call to share the gospel with others? 
                                                Or will we shy away from sharing because of fear? This overview of the basics of the Christian 
                                                faith provides an easy to remember outline for sharing the gospel and the encouragement needed to 
                                                include our own unique stories as part of the sharing. Full of anecdotes and examples shared 
                                                from a life of service in the church, “What Do I Say When Asked About Jesus?” is a tool to 
                                                help the everyday Christian share the gospel with others.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviewCol" class="column is-three-fifths mr-3">
                                    <div id="marCard" class="card">
                                        <div class="card-content">
                                            <p class="bd-notification">
                                                "Church leaders looking for an excellent resource on how to share Christ will be encouraged 
                                                by Dave Foucar’s new book, “What Do I Say When Asked About Jesus? A Layman’s Perspective on 
                                                Personal Evangelism and the Basics of the Christian Faith.” This easy to read book describes 
                                                how average people in the church can know the basics of the Gospel and share their faith effectively. 
                                                The examples are from years of real life experiences sharing the Gospel. Dave is biblically solid, 
                                                his applications are practical and sensitive to people who have questions. 
                                                This book is very suitable for personal spiritual growth or as a small group or leadership development resource."
                                            </p>
                                            <p class="bd-notification"><strong>Charlie Maloney</strong></p>
                                            <p class="bd-notification"><em>Senior Pastor Emeritus, Camarillo Christian Church</em></p>
                                        </div>
                                    </div>
                                    <div id="marCard" class="card">
                                        <div class="card-content">
                                            <p class="bd-notification">
                                                "I may be biased because Dave is my Father-in-Law, however, I found this book to be incredibly impactful
                                                to my spiritual journey towards the heart of Jesus. "
                                            </p>
                                            <p class="bd-notification"><strong>Cameron Everhart</strong></p>
                                            <p class="bd-notification"><em>Family of Dave's</em></p>
                                        </div>
                                    </div>
                                    <div id="marCard" class="card">
                                        <div class="card-content">
                                            <p class="bd-notification">
                                                "I really thought the buk was boring and porely written.
                                                Of course I have no bases for this comment, I gess it just 
                                                didn't jive wit me."
                                            </p>
                                            <p class="bd-notification"><strong>Jeremy Stein</strong></p>
                                            <p class="bd-notification"><em>Second Favorite Son-in-Law</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="buybook" class="column">
                                <button class="button is-large">
                                    <a href="#">Buy Book</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}