<!-- templates/home.html-->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="card equal-height">
                <div class="card-content">
                    <figure class="image is-128x128">
                        <img class="center" src="{% static 'images/cover.png' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}