{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/resourceStyles.css' %}">
{% endblock css %}

{% block content %}
    <div class="columns">
        <div id="column2" class="column is-6 is-offset-1">
            <p class="toptitle">Small Group Questions</p>
            <ul class="accordion">
                <li>
                    <button class="button is-full-width">Chapter One</button>
                    <div class="card">
                        <div class="card-content">
                            <p class="content">In Acts 2:37 and Acts 16:29-30 we see examples of the story of Jesus, the gospel, being preached. 
                            What did the people ask when they heard about Jesus?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="button is-full-width">Chapter Two</button>
                    <div class="card">
                        <div class="card-content">
                            <p class="content">In Acts 2:37 and Acts 16:29-30 we see examples of the story of Jesus, the gospel, being preached. 
                            What did the people ask when they heard about Jesus?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                            <p class="content">In 1 Peter 3:13-15 and Colossians 4:2-6 we see instructions about how we should act around 
                            people who don’t believe in Jesus. What should we do or say?</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<script src="{% static 'js/resources.js' %}"></script>

{% endblock content %}