{% extends '_base.html' %}
{% load static %}

{% block content %}
{% for book in book_list %}
    <div class="card is-half">
        <div class="card-header">
            <p class="card-header-title">{{book.title}}</p>
        </div>
        <div class="card-content">
            <div class="content">
                {% if book.subtitle %}
                    <p class="subtitle">{{book.subtitle}}</p>
                {% endif %}
                <h3 class="author">{{book.author}}</h3>
                {% if book.id == 6 %}
                    <p><a href="{{book.link}}">Link to Short Story</a></p>
                {% else %}
                    <p><a href="{{book.link}}">See on Amazon</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}